@model EmployeeApplication.Models.AuthUser

@{
    ViewBag.Title = "Register";
}
<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="container p-5 bg-opacity-20 text-bg-secondary" style="background-color: grey">
            <div class="d-flex flex-column text-center border-1 p-5 my-3">
                <h4>Create a new account</h4>
                <div class=" d-flex justify-content-center mt-3">
                    <span class="pt-1 px-2 bg-opacity-75 bg-info rounded-start border-end-1"><i class="fa-solid fa-user p-2"></i></span>
                    @Html.TextBoxFor(m => m.FirstName, new { placeholder = "Enter FirstName", @class = "p-2 px-3 border-0 rounded-end" })
                </div>
                <div class=" d-flex justify-content-center mt-3">
                    <span class="pt-1 px-2 bg-opacity-75 bg-info rounded-start border-end-1"><i class="fa-solid fa-user p-2"></i></span>
                    @Html.TextBoxFor(m => m.LastName, "", new { placeholder = "Enter LastName", @class = "p-2 px-3 border-0 rounded-end" })
                </div>
                <div class=" d-flex justify-content-center mt-3">
                    <span class="pt-1 px-2 bg-opacity-75 bg-info rounded-start border-end-1"><i class="fa-solid fa-envelope p-2"></i></span>
                    @Html.TextBoxFor(m => m.Email, "", new { placeholder = "Enter Email", @class = "p-2 px-3 border-0 rounded-end" })
                </div>
                <div class=" d-flex justify-content-center mt-3">
                    <span class="pt-1 px-2 bg-opacity-75 bg-info rounded-start border-end-1"><i class="fa-solid fa-lock p-2"></i></span>
                    @Html.TextBoxFor(m => m.Password, "", new { placeholder = "Enter Password", @class = "p-2 px-3 border-0 rounded-end" })
                </div>
                <div class=" d-flex justify-content-center mt-3">
                    <span class="pt-1 px-2 bg-opacity-75 bg-info rounded-start border-end-1"><i class="fa-solid fa-lock p-2"></i></span>
                    @Html.TextBoxFor(m => m.ConfirmPassword, "", new { placeholder = "Enter ConfirmPassword", @class = "p-2 px-3 border-0 rounded-end" })
                </div>
                <div class=" d-flex justify-content-center mt-3">
                    <span class="pt-1 px-2 bg-opacity-50 bg-info rounded-start border-end-1"><i class="fa-solid fa-phone p-2"></i></span>
                    @Html.TextBoxFor(m => m.MobileNumber, "", new { placeholder = "Enter MobileNumber", @class = "p-2 px-3 border-0 rounded-end" })
                </div>
                <div class="d-flex justify-content-center my-2">
                    <div class="d-grid w-25">
                        <input type="submit" class="btn btn-success" value="Register">
                    </div>
                </div>
                <div class="text-center">
                    <p>Already have an Account? <a href="~/Account/Login" class="text-info">Sign in here.</a></p>
                </div>
            </div>
        </div>
    }
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
